.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    position: fixed;
    z-index: 1000;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }

    .header-left {
        height: 54px;
        margin-left: 11px;
    }

    .header-right {
        margin-right: 11px;
    }

    .logo {
        width: 160px;
        height: 54px;
    }

    

    
}


.menu {
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 6px 16px;
    position: relative;
    border-radius: 50px;
    transition: ease-in-out 0.2s;
    z-index: 100;
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-menu {
    position: absolute;
    z-index: 1001;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: radial-gradient(#2D56E5, #2db1e5);
    top: 30px;
    right: 0;
}

.active {
    position: absolute;
    z-index: 1001;
    transform: scale(400);
    border-radius: 100%;
    top: -30px;
    right: 0;
    background-image: radial-gradient();
}